.container__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .container__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .container__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .container__container > p {
    width: 50%;
  }
}
.light {
  color: rgba(0, 0, 0, 0.5);
  background: #ffffff;
}
.light-grey {
  color: rgba(0, 0, 0, 0.5);
  background: #f2f2f2;
}
.dark {
  color: rgba(255, 255, 255, 0.5);
  background: #000000;
}
/* ------------------------------------------ */
/* FONTS
/* ------------------------------------------ */
@font-face {
  font-family: "evolventa";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/evolventa/evolventa.woff2") format("woff2"), url("../fonts/evolventa/evolventa.woff") format("woff");
}
/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  color: #ffffff;
  background: #191b1d;
  font-family: "evolventa", Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
.body--fixed {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .body--fixed {
    overflow: inherit;
  }
}
h1,
h2,
h3,
h4 {
  width: 100%;
  padding: 15px 0;
  font-weight: bold;
}
p,
span,
strong {
  display: block;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
@media (min-width: 675px) {
  h2 {
    font-size: 2.4em;
  }
}
p {
  padding: 15px 0;
}
a {
  text-decoration: none;
  color: #eabf44;
  border-bottom: 1px solid transparent;
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #eabf44;
  border-bottom: 1px solid #eabf44;
  outline: none;
}
a:active {
  text-decoration: none;
  opacity: 0.7;
  color: #eabf44;
  border-bottom: 1px solid #eabf44;
  outline: none;
}
::-webkit-input-placeholder {
  opacity: 1;
  color: #009aff;
}
::-moz-placeholder {
  opacity: 1;
  color: #009aff;
}
:-moz-placeholder {
  opacity: 1;
  color: #009aff;
}
:-ms-input-placeholder {
  opacity: 1;
  color: #009aff;
}
/* ------------------------------------------ */
/* PRELOADER BLOCK
/* ------------------------------------------ */
.preloader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  background: #000000 url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;
  background-size: 41px;
}
/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  transition: all 0.2s ease-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.header__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .header__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .header__container > p {
    width: 50%;
  }
}
.header--bg {
  border: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.header__container {
  padding-top: 15px;
  padding-bottom: 15px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.header__navigation {
  width: 100%;
  padding: 0;
  transition: all 2s ease-out;
}
.header__navigation ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  padding: 0;
}
@media (min-width: 1200px) {
  .header__navigation ul {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
.header__navigation li {
  width: 100%;
  padding: 15px;
  list-style-type: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .header__navigation li {
    width: auto;
    padding: 0 15px;
    text-align: right;
  }
  .header__navigation li:last-child {
    padding-right: 0;
  }
}
.header__navigation a {
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .header__navigation {
    position: inherit;
    width: auto;
  }
}
.header__navigation--closed {
  display: none;
}
@media (min-width: 1200px) {
  .header__navigation--closed {
    display: block;
  }
}
.header__navigation--opened {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  -ms-flex-align: center;
      align-items: center;
}
@media (min-width: 1200px) {
  .header__navigation--opened {
    position: inherit;
    display: block;
    height: auto;
    background: transparent;
  }
}
/* ------------------------------------------ */
/* HAMBURGER BLOCK
/* ------------------------------------------ */
.hamburger {
  z-index: 3;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger__box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  position: absolute;
  width: 40px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #ffffff;
}
.hamburger__inner::before,
.hamburger__inner::after {
  display: block;
  content: "";
}
.hamburger__inner::before {
  top: -10px;
}
.hamburger__inner::after {
  bottom: -10px;
}
/*
   * 3DX
   */
.hamburger--3dx .hamburger__box {
  perspective: 80px;
}
.hamburger--3dx .hamburger__inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger__inner::before,
.hamburger--3dx .hamburger__inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx.hamburger__active .hamburger__inner {
  transform: rotateY(180deg);
  background-color: transparent;
}
.hamburger--3dx.hamburger__active .hamburger__inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.hamburger__active .hamburger__inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--collapse .hamburger__inner {
  top: auto;
  bottom: 0;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}
.hamburger--collapse .hamburger__inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger__inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.hamburger__active .hamburger__inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--collapse.hamburger__active .hamburger__inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  opacity: 0;
}
.hamburger--collapse.hamburger__active .hamburger__inner::before {
  top: 0;
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-90deg);
}
/* ------------------------------------------ */
/* LOGO BLOCK
/* ------------------------------------------ */
.logo {
  position: relative;
  z-index: 3;
  max-height: 60px;
  padding: 0;
  transition: all 0.2s ease-out;
}
.logo a {
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border: 0;
  outline: none;
}
.logo a:hover {
  text-decoration: none;
  border: 0;
  outline: none;
}
/* ------------------------------------------ */
/* CTA BLOCK
/* ------------------------------------------ */
.cta {
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0;
  color: rgba(255, 255, 255, 0.5);
  background: #000000;
}
.cta__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .cta__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .cta__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .cta__container > p {
    width: 50%;
  }
}
/* ------------------------------------------ */
/* PROMO BLOCK
/* ------------------------------------------ */
.promo {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
  min-height: 500px;
  max-height: 100vh;
  -ms-flex-align: center;
      align-items: center;
}
.promo__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .promo__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .promo__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .promo__container > p {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .promo__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
}
.promo .promo__video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
}
@media (min-width: 1200px) {
  .promo .promo__text {
    width: 50%;
  }
}
.promo h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}
.promo span {
  font-size: 17px;
  line-height: 24px;
}
/* ------------------------------------------ */
/* SERVICES BLOCK
/* ------------------------------------------ */
.services {
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  background: #ffffff;
  -ms-flex-align: center;
      align-items: center;
}
.services__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .services__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .services__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .services__container > p {
    width: 50%;
  }
}
.services__container {
  display: block;
  padding-bottom: 45px;
}
.services__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.services__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 15px 0;
  padding: 15px 15px 30px;
  transition: all 0.2s ease-out;
  text-align: center;
  border-top: 3px solid #5f6c77;
  background: #fafafa;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.services__item h1 {
  font-size: 18px;
}
.services__item p {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.services__item:hover {
  box-shadow: 2px 2px 20px rgba(104, 104, 104, 0.2);
}
@media (min-width: 675px) {
  .services__item {
    margin: 15px 0;
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .services__item {
    margin: 15px 0;
  }
  .services__item:nth-child(odd) {
    padding-right: 150px;
    text-align: right;
  }
  .services__item:nth-child(even) {
    padding-left: 150px;
    text-align: left;
  }
}
/* ------------------------------------------ */
/* MORE BLOCK
/* ------------------------------------------ */
.more {
  display: -ms-flexbox;
  display: flex;
  background: #f9f9f9;
  color: rgba(0, 0, 0, 0.5);
  background: #ffffff;
  -ms-flex-align: center;
      align-items: center;
}
.more__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .more__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .more__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .more__container > p {
    width: 50%;
  }
}
.more__container {
  display: block;
  padding-bottom: 45px;
}
.more__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.more__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 15px 0;
  padding: 15px 15px 30px;
  transition: all 0.2s ease-out;
  text-align: center;
  border-top: 3px solid #5f6c77;
  background: #fafafa;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -ms-flex-align: center;
      align-items: center;
}
.more__item p {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.more__item span {
  color: #999999;
  font-size: 12px;
  font-weight: normal;
}
.more__item:hover {
  box-shadow: 2px 2px 20px rgba(104, 104, 104, 0.2);
}
@media (min-width: 675px) {
  .more__item {
    margin: 15px 0;
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .more__item:nth-child(odd) {
    padding-right: 150px;
    text-align: right;
  }
  .more__item:nth-child(even) {
    padding-left: 150px;
    text-align: left;
  }
}
/* ------------------------------------------ */
/* CLIENTS BLOCK
/* ------------------------------------------ */
.clients {
  color: rgba(0, 0, 0, 0.5);
  background: #f2f2f2;
}
.clients__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .clients__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .clients__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .clients__container > p {
    width: 50%;
  }
}
.clients__container {
  -ms-flex-direction: column;
      flex-direction: column;
}
.clients__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 675px) {
  .clients__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.clients__item {
  width: 100%;
}
@media (min-width: 675px) {
  .clients__item {
    max-width: 50%;
  }
}
/* ------------------------------------------ */
/* FACTS BLOCK
/* ------------------------------------------ */
.facts {
  color: rgba(0, 0, 0, 0.5);
  background: #ffffff;
}
.facts__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .facts__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .facts__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .facts__container > p {
    width: 50%;
  }
}
.facts__container {
  -ms-flex-direction: column;
      flex-direction: column;
}
.facts__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.facts__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 15px 0;
  padding: 15px 15px 30px;
  transition: all 0.2s ease-out;
  text-align: center;
  border-top: 3px solid #5f6c77;
  background: #fafafa;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -ms-flex-align: center;
      align-items: center;
}
@media (min-width: 675px) {
  .facts__item {
    margin: 15px 0;
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .facts__item:nth-child(odd) {
    padding-right: 150px;
    text-align: right;
  }
  .facts__item:nth-child(even) {
    padding-left: 150px;
    text-align: left;
  }
}
/* ------------------------------------------ */
/* PROJECTS BLOCK
/* ------------------------------------------ */
.projects {
  color: rgba(0, 0, 0, 0.5);
  background: #f2f2f2;
}
.projects__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .projects__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .projects__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .projects__container > p {
    width: 50%;
  }
}
.projects__container {
  -ms-flex-direction: column;
      flex-direction: column;
}
.projects__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 675px) {
  .projects__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.projects__item {
  width: 100%;
}
@media (min-width: 675px) {
  .projects__item {
    max-width: 50%;
  }
}
/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.footer__container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media (min-width: 675px) {
  .footer__container {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    padding: 60px 30px;
  }
}
@media (min-width: 1200px) {
  .footer__container > p {
    width: 50%;
  }
}
.footer__container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__copyright {
  padding: 0;
  font-size: 10px;
  line-height: 1;
}
