/* ------------------------------------------ */
/* ALERT BLOCK
/* ------------------------------------------ */
.alert-block {
	display: block;

	color: @palette__primary;

	&--error {
		background: red;
	}

	&--success {
		background: green;
	}
}
