/* ------------------------------------------ */
/* CLIENTS BLOCK
/* ------------------------------------------ */
.clients {
	display: flex;

	text-align: center;

	color: rgba(255, 255, 255, 0.5);
	background: #000000;

	.container();
}
