/* ------------------------------------------ */
/* CTA BLOCK
/* ------------------------------------------ */
.cta {
	display: flex;

	padding: 45px 0;

	.dark();
	.container();

	h2 {
		width: 100%;

		font-size: 1.5em;

		@media (min-width: @tablet-widths) {
			max-width: 75%;
		}

		@media (min-width: @desktop-widths) {
			font-size: 2em;
		}
	}

	&__container {
		flex-direction: column;

		align-items: center;

		@media (min-width: @tablet-widths) {
			flex-direction: row;
		}
	}

	.cta__btn {
		width: 100%;

		text-align: center;

		@media (min-width: @tablet-widths) {
			max-width: 25%;
		}
	}
}
