/* ------------------------------------------ */
/* PROMO BLOCK
/* ------------------------------------------ */
.promo {
	display: flex;

	min-height: calc(~"100vh - 160px");

	align-items: center;
	.container();

	&__container {
		display: block;
	}

	.promo__text {
		@media (min-width: @desktop-widths) {
			width: 50%;
		}
	}

	h1 {
		margin-bottom: 20px;

		font-size: 2.5em;
	}

	span {
		font-size: 17px;
		line-height: 24px;
	}
}
